html, body {
    height: 100%;
    margin: 0;
}

body {
    position: relative;
    z-index: 1;
}

/* Фон з блюром */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    
    filter: blur(8px);
    transform: scale(1.1);
    z-index: -1;
}

/* Щоб контент був читабельний */
main {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 15px;
}
